In [1]:
import sqlite3
import pandas as pd
import database
import config
import os

filename = 'test_events.db'

#con1 = sqlite3.connect(filename)

In [2]:
database.create_db(filename)
database.add_events_from_TBA('frc1318', '2019', filename)

EVENTS Table updated successfully

In [3]:
con = database.get_con(filename)
cur = con.cursor()

In [4]:
sql = "SELECT * FROM Events;"

pd.read_sql(sql, con)

        code  year          city state  start_date    end_date
0  2019pncmp  2019        Tacoma    WA  2019-04-03  2019-04-06
1    2019roe  2019       Houston    TX  2019-04-17  2019-04-20
2  2019waahs  2019        Auburn    WA  2019-03-29  2019-03-31
3   2019wagg  2019  Maple Valley    WA  2019-10-12  2019-10-13
4  2019wamou  2019  Mount Vernon    WA  2019-03-01  2019-03-03
5   2019wapp  2019        SeaTac    WA  2019-09-14  2019-09-14
6  2019wayak  2019        Yakima    WA  2019-03-14  2019-03-16

In [5]:
database.add_events_from_TBA('frc1318', '2017', filename)

EVENTS Table updated successfully

In [6]:
sql = "SELECT * FROM Events;"

pd.read_sql(sql, con)

         code  year          city state  start_date    end_date
0   2019pncmp  2019        Tacoma    WA  2019-04-03  2019-04-06
1     2019roe  2019       Houston    TX  2019-04-17  2019-04-20
2   2019waahs  2019        Auburn    WA  2019-03-29  2019-03-31
3    2019wagg  2019  Maple Valley    WA  2019-10-12  2019-10-13
4   2019wamou  2019  Mount Vernon    WA  2019-03-01  2019-03-03
5    2019wapp  2019        SeaTac    WA  2019-09-14  2019-09-14
6   2019wayak  2019        Yakima    WA  2019-03-14  2019-03-16
7   2017cmptx  2017       Houston    TX  2017-04-22  2017-04-22
8   2017pncmp  2017        Cheney    WA  2017-04-05  2017-04-08
9     2017tur  2017       Houston    TX  2017-04-19  2017-04-22
10  2017waahs  2017        Auburn    WA  2017-03-31  2017-04-02
11  2017waamv  2017        Auburn    WA  2017-03-03  2017-03-05
12   2017wagg  2017  Maple Valley    WA  2017-10-28  2017-10-28
13   2017wapp  2017        SeaTac    WA  2017-09-23  2017-09-23
14  2017wasno  2017     Snohomish    WA  2017-03-24  2017-03-26

In [7]:
events_sql = """INSERT INTO Events (code, year, city, state, start_date, end_date) 
                          VALUES (?, ?, ?, ?, ?, ?)
                          ON CONFLICT(code) DO UPDATE SET
                          year=excluded.year,
                          city=excluded.city,
                          state=excluded.state,
                          start_date=excluded.start_date,
                          end_date=excluded.end_date;"""

cur.execute(events_sql, ('2019pncmp', '2019', 'Tacoma', 'WA', '2019-04-06', '2019-04-09'))
con.commit()

In [8]:
sql = "SELECT * FROM Events;"

pd.read_sql(sql, con)

         code  year          city state  start_date    end_date
0   2019pncmp  2019        Tacoma    WA  2019-04-06  2019-04-09
1     2019roe  2019       Houston    TX  2019-04-17  2019-04-20
2   2019waahs  2019        Auburn    WA  2019-03-29  2019-03-31
3    2019wagg  2019  Maple Valley    WA  2019-10-12  2019-10-13
4   2019wamou  2019  Mount Vernon    WA  2019-03-01  2019-03-03
5    2019wapp  2019        SeaTac    WA  2019-09-14  2019-09-14
6   2019wayak  2019        Yakima    WA  2019-03-14  2019-03-16
7   2017cmptx  2017       Houston    TX  2017-04-22  2017-04-22
8   2017pncmp  2017        Cheney    WA  2017-04-05  2017-04-08
9     2017tur  2017       Houston    TX  2017-04-19  2017-04-22
10  2017waahs  2017        Auburn    WA  2017-03-31  2017-04-02
11  2017waamv  2017        Auburn    WA  2017-03-03  2017-03-05
12   2017wagg  2017  Maple Valley    WA  2017-10-28  2017-10-28
13   2017wapp  2017        SeaTac    WA  2017-09-23  2017-09-23
14  2017wasno  2017     Snohomish    WA  2017-03-24  2017-03-26

In [9]:
con.close()
con1.close()

# if os.path.isfile(config.db):
#     os.remove(config.db)
# else:
#     os.remove(filename)

NameError: name 'con1' is not defined